.doughnut-chart-label
	text-align: center
	padding-top: 16px
	.name
		font-size: 16px
		font-weight: 600
	.label
		display: flex
		align-items: center
		justify-content: center
		margin-bottom: 8px
		.label-color
			height: 16px
			width: 32px
			margin-left: 16px
			border: solid 1px
.bar-chart-label
	margin-bottom: 16px
	padding: 16px
	.name
		font-size: 16px
		font-weight: 600
