.forum-dashboard
	.forum-dashboard-container
		box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px
		margin-bottom: 8px
		border-radius: 4px
		position: relative
		.forum-name
			font-weight: 600
			font-size: 22px
			border-bottom: #e0e0e0 solid 1px
			padding: 8px
			position: relative
			.date-created
				position: absolute
				top: 50%
				right: 16px
				transform: translate(0,-50%)
				color: rgba(0,0,0,0.6)
				font-size: 12px
		.forum-strand
			padding-top: 8px
		.forum-user
			padding-top: 8px
			color: rgba(0,0,0,0.6)
			font-weight: 600
		.forum-name, .forum-description, .forum-strand, .forum-user
			padding-left: 16px
			padding-right: 16px
		.forum-image
			background-size: cover
			background-repeat: no-repeat
			background-position: center
			height: 200px
			width: 200px
		.forum-description
			padding-bottom: 16px
		.forum-content
			display: flex
			padding: 8px


.discussion-container
	@extend .element-container
	box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px
	border-radius: 4px
	margin-bottom: 0!important
	.discussion-title
		font-weight: 600
		font-size: 22px
		border-bottom: #e0e0e0 solid 1px
		padding: 8px
		position: relative
		.date-created
			position: absolute
			top: 50%
			right: 16px
			transform: translate(0,-50%)
			color: rgba(0,0,0,0.6)
			font-size: 12px
	.discussion-user
		padding-top: 8px
		color: rgba(0,0,0,0.6)
		font-weight: 600
	.discussion-title, .discussion-description, .discussion-user
		padding: 16px
	.discussion-image
		background-size: cover
		background-repeat: no-repeat
		background-position: center
		height: 200px
		width: 200px
	.discussion-description
		padding-bottom: 16px
	.discussion-content
		display: flex
		padding: 8px

.comment-container
	@extend .element-container
	padding-bottom: 0!important
	margin-bottom: 0!important
	box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px
	border-radius: 4px

.comment-list
	@extend .element-container
	padding-bottom: 0!important
	box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px
	border-radius: 4px
	.comment-info-container
		border-bottom: #e0e0e0 solid 1px
		padding: 5px 16px 8px 16px
		.comment-info
			padding: 8px
			position: relative
			font-weight: 600
			.date-comment
				position: absolute
				top: 50%
				right: 16px
				transform: translate(0,-50%)
				color: rgba(0,0,0,0.6)
				font-size: 12px
		.comment-description
			padding: 8px
			padding-top: 0