.modal
	position: fixed
	top: 0
	left: 0
	height: 100vh
	width: 100%
	z-index: 999
	background: $modalBackground
	display: flex
	align-items: center
	justify-content: center
	overflow: hidden
	.modal-container

.delete-modal,.confirm-modal
	background: #fff
	padding: 64px 32px 32px 16px
	position: relative
	.close-button
		position: absolute
		top: 5px
		right: 10px
		cursor: pointer
		color: $red-color
	.delete-title
		font-size: 16px
		font-weight: 600
		text-align: center
		padding-bottom: 8px
	.context-montserrat
		padding-bottom: 8px
		color: rgba(0,0,0,0.7)
	.delete-button-group
		padding-top: 32px
		.button,button
			width: 100%
			margin: 4px
			text-transform: uppercase
		.yes
			background: $blue-color
			color: #fafafa
		.no
			background: $red-color
			color: #fafafa

.confirm-modal