
.tos-container
	padding: 32px
	margin: 20vh 64px
	box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px
	text-align: justify
	color: #000
	.context-montserrat
		color: #000
		font-size: 14px
		margin-bottom: 8px
.tos-content
	padding-left: 16px

.tos-container.privacy-policy
	padding: 0px
	margin: 60px
	box-shadow: none
	.privacy-policy-title
		background: $blue-color
		color: #ffffff
		padding: 20px 16px
	.privacy-policy-content
		padding: 0px 16px
		p
			line-height: 1.3
			margin-left: 30px
			margin-bottom: 17px
		ul
			li
				strong
					color: #383838
					margin-right: 6px
		h1,h2,h3,h4,h5,h6
			color: #383838
			margin-top: 35px
		h1,h2
			color: $blue-color
		h3,h4,h5,h6
			margin-left: 20px
