@import 'variables'
@import 'fonts'
@import 'foundation'
@import 'position'

@import 'table'
@import 'pagination'
@import 'form'
@import 'visibility'
@import 'loader'

@import 'title'

@import 'button'

@import 'modal'

@import 'login'

@import 'home'
@import 'nav'

@import 'admin-sidebar'
@import 'admin-topbar'
@import 'admin-content'
@import 'admin-dashboard'
@import 'admin'



body
	padding: 0
	margin: 0
	font-family: 'Montserrat', sans-serif
	
p,span,a
	padding: 0
	margin: 0
	text-decoration: none
	color: inherit
.red-color
	color: $red-color
.blue-color
	color: $blue-color

.padding-16
	padding: 16px

.element-container
  background: #fff
  padding: 16px
  margin-bottom: 16px